.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--padding-site);

  background-color: var(--color-bg-dark);
  color: var(--color-txt-light);
  min-height: 100vh;
  > * {
    flex-grow: 1;
  }

  @media (max-width: 960px) {
    justify-content: center;
    > * {
      flex-grow: 0;
    }
  }
}
