.dice-roller {
  background-color: var(--color-pri-10);
  border-radius: var(--border-rad);
  flex-basis: 50%;
  max-width: 1500px;

  padding: var(--padding-site);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__form,
  .dice-display {
    flex-basis: 50%;
  }

  &__divider {
    background-color: var(--color-sec);
    width: 4px;
    height: 450px;
    margin: 0.5rem 2rem;
    border-radius: 1rem;
  }

  &__form {
    padding: var(--padding-site);
    height: fit-content;

    border-radius: var(--border-rad);

    display: flex;
    row-gap: 1rem;
    column-gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 25%;

    &__label {
      height: fit-content;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      width: 100%;
      min-width: 280px;

      &__title {
        height: fit-content;
      }

      &__buttons {
        display: flex;
        align-items: center;
        width: 150px;

        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid var(--color-sec);
          height: 3rem;
          width: 3rem;
          padding: 1rem;
          cursor: pointer;
        }

        &__amount {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 1rem;
          cursor: pointer;
          width: 3rem;
        }
      }
    }

    &__roll {
      margin: 0 0 0 auto;
    }
  }
}

.total {
  color: var(--color-sec);
}

@media (max-width: 960px) {
  .dice-roller {
    flex-direction: column;
    padding: 0;
    background-color: transparent;

    &__divider {
      width: 80%;
      height: 4px;
      margin: 0.5rem;
    }
    &__form {
      flex-direction: column;
      flex-basis: 100%;
      padding: 0.5rem;
      &__label {
        justify-content: flex-end;
      }
      &__roll {
        margin: 0 auto;
      }
    }
  }
  .total {
    font-size: calc(var(--font-size-default) / 1.25);
  }
}
